{% extends 'master.html' %}
{% load static %}
{% block conteudo %}
<div class="container pt-4">
   <!-- Titulo e Imagem da Categoria -->
   <div class="d-flex flex-column flex-md-row justify-content-start align-items-center mb-4">
      <h3 class="display-5 font-weight-bold" style="font-size: 28pt; margin-right: 15px;">Categorias</h3>
      <img id="cat" class="icones-menu-titulo img-fluid" src="{% static 'img/categoria.png'%}" alt="Categoria" style="max-width: 40px; height: auto;">
   </div>
   <hr>

   <!-- O Modal -->
   <form action="{% url 'financeiro:categoria'%}" method="POST">
      {% csrf_token %}
      <div id="myModal" class="modal">
         <div class="modal-content">
            <span id="closeModalBtn" class="close text-end">&times;</span>
            <h4 class="display-5 font-weight-bold text-center" style="font-size: 18pt;">Adicionar uma nova categoria</h4>
            <label for="nome">Nome:</label>
            <input type="text" class="form-control form-control-sm" id="addNome" name="addNome">
            <button type="submit" class="btn btn-primary mt-3 btn-sm" name="action" value="editar">Editar</button>
         </div>
      </div>
   </form>

   <!-- Coluna para a Tabela de Categorias -->
   <div class="container-fluid rounded">
      <h4 class="display-5 font-weight-bold text-center my-4" style="font-size: 28pt;">Lista de Categorias</h4>    
      <div class="text-end">
         <button type="button" class="mb-3 btn btn-primary btn-sm" id="openModalBtn" name="action" value="editar">Adicionar Categoria <img src="{% static 'img/adicionar.png' %}" alt="" width="25px"></button>
      </div>
      
      <div class="table-responsive">
         <table class="table table-hover border-none">
             <thead>
                 <tr>
                     <!-- Coluna Categoria com maior largura -->
                     <th class="text-center bg-dark text-white display-1" style="font-size: x-large; width: 75%;">Categoria</th>
                     <!-- Coluna Ações com largura reduzida -->
                     <th class="text-center bg-dark text-white display-1" style="font-size: x-large; width: 25%;">Ações</th>
                 </tr>
             </thead>
             <tbody>
                 <!-- Gerando rows dinamicamente -->
                 {% for categoria in lista_categoria %}
                 <form action="{% url 'financeiro:categoria'%}" method="POST">
                     <tr>
                         {% csrf_token %}
                         <!-- Coluna Categoria -->
                         <td class="text-center" style="width: 75%;">
                             <input type="hidden" name="linha" value="{{categoria.id}}">
                             <input type="text" name="nome" class="form-control form-control-sm shadow" value="{{categoria.nome}}">
                         </td>
                         <!-- Coluna Ações -->
                         <td class="text-center" style="width: 25%;">
                             <button type="submit" class="btn btn-info btn-sm" name="action" value="atualizar">Atualizar</button>
                             <button type="submit" class="btn btn-danger btn-sm" name="action" value="apagar">Apagar</button>
                         </td>
                     </tr>
                 </form>
                 {% endfor %}
             </tbody>
         </table>
     </div>
     
   </div>
</div>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
