.icones-menu{
   width: 100px;
   height: 100px;
}
.icones-menu-titulo{
   width: 40px;
   height: 40px;
}

h6{
   /* font-family: Arial, Helvetica, sans-serif; */
   margin-right: 15px;
}

.icones-produto{
   width: 100px;
   height: 100px;
}