/* body {
    background-color: rgba(17, 17, 17, 0.736); /* Isso vai mudar o fundo da página para azul claro
    color: aliceblue;
} */

.logo{
    width: 158px; 
    height: 35px; 
    color: rgb(69, 68, 68);
    background-color: rgb(195, 209, 236);
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;   
}
.formlogin{
    width: 100vh;
}
.gestorii-input{
   border-radius: 0; 
}

.fade-in {
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.fade-in_sair {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
.fade-in.show_sair {
    opacity: 1;
    transform: translateX(0);
}

.cartao-vermelho{
    background-color: rgb(255, 80, 80);
    width: 100px;
    height: 150px;
    border-radius: 6px;
}
.cartao-verde{
    background-color: rgb(80, 255, 133);
    width: 100px;
    height: 150px;
    border-radius: 6px;
}
.cartao-azul{
    background-color: rgb(80, 165, 255);
    width: 100px;
    height: 150px;
    border-radius: 6px;
}
.legenda-cartao-vermelho{
    background-color: rgb(255, 80, 80);
    width: 25px;
    height: 25px;
    border-radius: 6px;
}
.legenda-cartao-verde{
    background-color: rgb(80, 255, 133);
    width: 25px;
    height: 25px;
    border-radius: 6px;
}
.legenda-cartao-azul{
    background-color: rgb(80, 165, 255);
    width: 25px;
    height: 25px;
    border-radius: 6px;
}

.azul{
   background-color: rgb(80, 165, 255);
}

