{% load static %}
<div class="container-fluid border-top shadow border-1 border-info rounded">
   <div class="row p-4">
      <div class="col-12 col-sm-8 col-md-6 col-lg-8">
         <div class="row">
            <div class="col-12 col-sm-8">
               <label for="txtNomeReserva" class="form-label display-5 font-weight-bold" style="font-size: 11pt;">Hóspede:</label>
               <input type="text" class="form-control form-control-sm shadow" name="txtNomeReserva" id="txtNomeReserva" value="" list="sugestoesNome" required>
               <datalist id="sugestoesNome">
               </datalist>
            </div>
            <div class="col-12 col-sm-4">
               <label for="txtTelefoneReserva" class="form-label display-5 font-weight-bold" style="font-size: 11pt;">Telefone:</label>
               <input type="text" class="form-control form-control-sm shadow" name="txtTelefoneReserva" id="txtTelefoneReserva" value="">
            </div>
         </div>
         <div class="row">
            <div class="col-12 col-sm-6">
               <label for="txtCpf" class="form-label mt-3 display-5 font-weight-bold" style="font-size: 11pt;">CPF:</label>
               <input type="text" class="form-control form-control-sm shadow" id="txtCpfReserva" name="txtCpfReserva" value="" list="sugestoesCpf" required>
               <datalist id="sugestoesCpf">
               </datalist>
            </div>
            <div class="col-12 col-sm-6">
               <label for="txtEmpresaReserva" class="form-label mt-3 display-5 font-weight-bold" style="font-size: 11pt;">Empresa:</label>
               <input type="text" class="form-control form-control-sm shadow" name="txtEmpresaReserva" id="txtEmpresaReserva" value="">
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12 col-sm-6">
               <label for="dateCheckin" class="form-label display-5 font-weight-bold" style="font-size: 11pt;">Check-in:</label>
               <input name="dateCheckin" type="date" class="form-control form-control-sm shadow" id="dateCheckin" >
            </div>
            <div class="col-12 col-sm-6">
               <label for="dateCheckout" class="form-label display-5 font-weight-bold" style="font-size: 11pt;">Check-out:</label>
               <input name="dateCheckout" type="date" class="form-control form-control-sm shadow" id="dateCheckout">
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-4 pt-4">
         <div class="row text-white rounded azul text-center">
            <label for="num_quarto" class="form-label display-5 font-weight-bold" style="font-size: 20pt;">Quarto</label>
         </div>
         <div class="row rounded azul mt-2">
            <div class="container p-3 text-white">
               <label for="num_quarto" class="form-label display-5 font-weight-bold" style="font-size: 12pt;">Selecione um quarto:</label>
               <select id="num_quarto" name="num_quarto" class="form-control-sm form-control text-center bg-transparent shadow border-0 display-5 text-white">
                  <option value="{{ quarto.num_quarto }}" class="display-5 text-dark" style="font-size: 12pt;" selected>{{ quarto.num_quarto }}</option>
                  {% for quarto in quartos %}
                     <option value="{{ quarto }}" class="display-5 text-dark" style="font-size: 12pt;">{{ quarto }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
      </div>
      <div class="d-flex pb-4 justify-content-end">
         <button id="botaoSubmit" type="submit" class="btn btn-primary btn-sm gestorii-input rounded shadow mt-2">Cadastrar</button>
      </div>
   </div>
</div>
