{% extends 'master.html' %}
{% load static %}
{% block conteudo %}
<!-- Titulo -->
<div class="container pt-4">
   <h3 class="display-5 font-weight-bold" style="font-size: 28pt;">Criar Hóspede</h3><hr> 
   <!-- Submenu -->
   <div class="d-flex mt-4 mb-3">
      <div class="col-6">
         <h4 class="display-5" style="font-size: 18pt;">QTD Hospedes: 11</h4>
      </div>
   </div>

   <!-- Card de inserção na reserva -->
   
   <!-- <div class="d-flex border-top shadow border-2 border-primary pt-2 mb-5 rounded bg-body-tertiary"> -->
   <div class="container border-top shadow border-2 border-warning pt-2 mb-5 rounded bg-body-tertiary">
      <div class="row p-4">
            <form action="{% url 'cadastros:criar_hospede' %}" method="POST">
               {% csrf_token %}
               <div class="row">
                  <div class="col-8">
                     <label for="txtNome" class="form-label">Nome</label>
                     <input class="form-control shadow" type="text" id="txtNome" name="txtNome" placeholder="Insira seu nome">
                     <!-- <div id="divEmailError" class="error-message mt-2 fade-in" style="font-size:10px; color:rgb(0, 217, 29);"> . </div> -->
                  </div>
                  <div class=""></div>
               </div>
               <div class="text-start form-group">
                  <label for="txtNome" class="form-label">Nome</label>
                  <input type="text" id="txtNome" name="txtNome" placeholder="Insira seu email">
                  <div id="divEmailError" class="error-message mt-2 fade-in" style="font-size:10px; color:rgb(0, 217, 29);"> . </div>
               </div>  
               <div class="text-start form-group">
                  <label for="txtCpf" class="form-label">CPF</label>
                  <input type="text" id="txtCpf" name="txtCpf" placeholder="Insira seu cpf">
                  <div id="divEmailError" class="error-message mt-2 fade-in" style="font-size:10px; color:rgb(0, 217, 29);"> . </div>
               </div>  
               <div class="text-start form-group">
                  <label for="txtTelefone" class="form-label">Telefone</label>
                  <input type="text" id="txtTelefone" name="txtTelefone" placeholder="Insira seu email">
                  <div id="divEmailError" class="error-message mt-2 fade-in" style="font-size:10px; color:rgb(0, 217, 29);"> . </div>
               </div>  
               <div class="text-start form-group">
                  <label for="txtEmpresa" class="form-label">Empresa</label>
                  <input type="text" id="txtEmpresa" name="txtEmpresa" placeholder="Insira seu email">
                  <div id="divEmailError" class="error-message mt-2 fade-in" style="font-size:10px; color:rgb(0, 217, 29);"> . </div>
               </div>
               <button type="submit" class="btn btn-primary w-100 gestorii-input shadow mt-2" >Salvar</button>
            </form>
      </div>
   </div>
</div>

        <script>
            $(document).ready(function() {
                $('#txtEmail').on('input', function() {
                    var email = $(this).val();
                    $('#divPerfil').addClass('hidden-group');
                    $('#divSenha').addClass('hidden-group');
                    $('#slcPerfil').empty();
                    $('#divEmailError').addClass('fade-in').removeClass('show');

                    if (email.length > 0) {
                        $.ajax({
                            url: "{% url 'autenticacao:get_perfis' %}",
                            data: {'email': email},
                            success: function(data) {
                                if (data.usuario_existe) {
                                    if (data.perfis.length > 0) {
                                        $('#slcPerfil').empty();
                                        data.perfis.forEach(function(perfil) {
                                            $('#slcPerfil').append(new Option(perfil.nome, perfil.id));
                                        });
                                        $('#divPerfil').removeClass('hidden-group');
                                        $('#divSenha').removeClass('hidden-group');
                                        $('#divEmailError').text('Email Disponível!').addClass('show').css('color','green');
                                    } else {
                                        toastr.error("Nenhum perfil encontrado para este e-mail.", "Erro");
                                    }
                                } else {
                                    $('#divEmailError').text('Email está indisponível').addClass('show').css('color','red');
                                }
                            }
                        });
                    }
                });

                $('#btnEsqueciSenha').click(function(event) {
                    event.preventDefault();
                    toastr.info('Se você esqueceu sua senha contate o administrador do sistema.');
                    window.location.href = "http://127.0.0.1:8000/novaSenha/";
                });
            });
            var dropdownElements = document.querySelectorAll('.dropdown-toggle');
            dropdownElements.forEach(function(dropdown) {
               new bootstrap.Dropdown(dropdown);
            });
        </script>
        
{% endblock %}    