{% extends 'master.html' %}
{% load static %}
{% block conteudo %}

    <div class="container col-9 mt-5">
        <h1 class="display-weight-bold">Reservas</h1>
        <hr class="mt-2 mb-3 border border-info">

        
        <div class="form-group row p-2 d-flex align-items-center">
            <!-- Div alinhada à esquerda -->
            <div class="col-4 d-flex align-items-center">
                <span class="fw-bold">QTD Hospedes<br>11</span>
            </div>
        
            <!-- Div alinhada à direita -->
            <div class="col d-flex align-items-center">
                <img src='{% static "img/search.png" %}' width="20" height="20" alt="Pesquisar">
                <label for="txtDatepicker" class="col-form-label ms-2">Pesquisar data</label>
                <input type="text" class="form-control ms-2" id="txtDatepicker" placeholder="Selecione uma data" value="{{ query }}">
            </div>
        </div>
        
    </div>    
{% endblock %}