{% extends 'master.html' %}
{% load static %}
{% block conteudo %}

<div class="container mt-2 p-4 w-75">
  <h1 class="display-weight-bold">Reservas</h1>    
  <div class="form-group row p-2 d-flex align-items-center">
  <!-- Div alinhada à esquerda -->
  <div class="col-4 d-flex align-items-center">
    <span class="fw-bold">QTD Hospedes<br>11</span>
  </div>

  <!-- Div alinhada à direita -->
  <div class="col-8 d-flex align-items-center justify-content-end">
    <img src='{% static "img/search.png" %}' width="20" height="20" alt="Pesquisar">
    <label for="txtNomePesq" class="col-form-label ms-2">Pesquisar</label>
    <input type="text" class="form-control ms-2" id="txtNomePesq" placeholder="Nome" value"" style="width: 150px;">
  </div>

  <!-- Div alinhada à direita -->
  <div class="col-12 d-flex align-items-center justify-content-end">
    <input type="text" class="form-control ms-2" id="txtNumPesq" placeholder="Quarto" value"" style="width: 150px;">
  </div>
    <!-- Essa parte tem que ir pra uma partial, ou melhor block conteudo -->
  <div class="mt-3 container p-4 d-flex align-items-center">
        <form class="row g-3">
            <div class="col-md-3">
              <label for="inputEmail4" class="form-label">Número do Quarto</label>
              <input type="email" class="form-control shadow h-75" id="inputEmail4" >
            </div>
            <div class="col-md-9 mb-3">
              <div class="row g-2">
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Nome</label>
                  <input type="password" class="form-control shadow" id="inputPassword4">
                  <br>
                  <label for="inputPassword4" class="form-label">CPF</label>
                  <input type="password" class="form-control shadow" id="inputPassword4">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Código da reserva</label>
                  <input type="password" class="form-control shadow" id="inputPassword4">
                  <br>
                  <label for="inputPassword4" class="form-label">Telefone</label>
                  <input type="password" class="form-control shadow" id="inputPassword4">
                </div>
              </div>
            </div>
            <div class="col-md-5">
                <label for="dateCheckin" class="form-label">Check-in</label>
                <input name="dateCheckin" type="text" class="form-select shadow" id="txtDatepicker" placeholder="Selecione uma data" value="">
            </div>
            <div class="col-md-5">
                <label for="dateCheckout" class="form-label">Check-out</label>
                <input name="dateCheckout" type="text" class="form-select shadow" id="txtDatepicker" placeholder="Selecione uma data" value="">
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Diárias</label>
              <input type="text" class="form-control shadow" id="inputZip">
            </div>
            <div class="col-md-8 mt-3">
              <fieldset>
                <legend>Comanda</legend>
                <div class="container text-center h-75"">
                  <table class="table table-hover">
                    <th>Produto</th>
                    <th>Qtd</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <tr>
                      <td>2</td>
                      <td>4</td>
                      <td>6</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>4</td>
                      <td>6</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>4</td>
                      <td>6</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="text-end"><h4>Total: 3213,00 R$</h2></td>
                    </tr>
                  </table>
              </fieldset>
              <!-- <input type="text" class="form-select shadow" id="txtDatepicker" placeholder="Selecione uma data" value="{{ query }}""> -->
            </div>
            <div class="col-md-4 mt-3">
              <fieldset>
                <legend>Observações</legend>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
              </fieldset>
                <!-- <input type="text" class="form-select shadow" id="txtDatepicker" placeholder="Selecione uma data" value="{{ query }}""> -->
              <!-- <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select> -->
            </div>
            <div class="col-12 d-flex justify-content-end">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Selecionar
                </label>
              </div>
            </div>
              <!-- Div alinhada à direita -->
            <div class="col-12 d-flex sticky-bottom align-items-center justify-content-end">
              <button type="submit" class="btn btn-success">Salvar alterações</button>
            </div>
            <div class="col-12 d-flex sticky-bottom align-items-center justify-content-end">
              <button type="submit" class="btn btn-danger">Deletar</button>
            </div>
          </form>
    </div>
</div>
    
{% endblock %}