{% extends 'master.html' %}
{% load static %}
{% block conteudo %}

<div class="container mt-2 p-4 w-75">
  <h1 class="display-weight-bold">Home</h1> 

  <h6>O cliente gostaria de uma disposição parecida com a que esta desenhada nao figma, porem a ideia de menu lateral me aflinge um pouco pois pode demanadar tempo de desenvolvimento e o foco do projeto agora tem que ser o backend</h6>
  <br>
  <br>
  <h5>Tipo assim:</h5>
  <br>
  <div class="container text-center">
    <img/creativecommons.png src='{% static "img/layoutsHome.png" %}'style="width: 450px;">
  </div>
  <br>
  <h5>O cliente disse que gostaria que cada card desse representasse um quarto e as cores fossem relacionadas com a disponibilidade dos quartos</h5>
  <br>
  <br>
  <table class="table table-hover text-center">
    <th>Cor</th>
    <th>Disponibilidade</th>
    <tr>
      <td>Azul</td>
      <td>Ocupado</td>
    </tr>
    <tr>
      <td>Verde</td>
      <td>Disponivel</td>
    </tr>
    <tr>
      <td>Vermelho</td>
      <td>Manutenção</td>
    </tr>
    
  </table>
</div>

{% endblock %}